@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500;700&display=swap');
* {
}
body {
    color: white;

    background: #101010;
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 100px;
    margin-bottom: 8rem;
}
.header-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    display: flex;
}
.front{
    font-size: 5rem;
    height: 200px;
}
.dev {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    display: flex;
}
.btn {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.6875rem;
    letter-spacing: 0.19em;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-buttons a {
    color: white;
    font-size: 1.5rem;
    margin: 0 2rem;
    text-decoration: none;
}
.container {
    margin: 0 100px;
}
.head {
    margin: 1rem 0;
    font-size: 3rem;
    letter-spacing: 0.1em;
}
.main-title {
    display: flex;
    flex-direction: column;
}
.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-decor {
    font-size: 1.5rem;
    color: #800080;
    line-height: 1.8125rem;
    /* identical to box height */

    letter-spacing: 0.105em;
}
#about-image-design {
    position: relative;
    z-index: -1;
    width: 100%;
    height: auto;
    transition: 1s linear;
    position: relative;
    max-width: 30%;
    height: auto;
    transition: 1s linear;
    position: relative;
    max-width: 30%;
    height: auto;
    left: 25%;
    bottom: 50%;
}
.laptop {
    margin: 2rem 0;
    transition: 1s linear;
    position: relative;
    width: 60%;
    height: auto;
}
#about-image-design {
}
.skills {
    margin-top: 7rem;
    padding-bottom: 5rem;
    background: #232323;
}
.skills-title {
    font-size: 2.25rem;
    line-height: 2.6875rem;
    letter-spacing: 0.19em;
    text-align: center;
    padding-top: 80px;
    display: inline-block;
}
.skills-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 90px;
    flex-wrap: wrap;
}
.skills-main-title {
    font-weight: 700;
    font-size: 4.5rem;
    letter-spacing: 0.1em;
}
.skills-main-info {
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    max-width: 600px;
}
.Loading {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 1rem;
    background: #f1f1f1;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
    margin-right: 4rem;
}
.bar {
    position: relative;
    display: none;
    width: 0%;
    height: 100%;
    background: #800080;
    transition: 4s ease;
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.hardskills {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2.5rem;

}
.hardskill {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

.portfolio-title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.6875rem;
    letter-spacing: 0.19em;
}
.portfolio-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25%;
    margin: 2rem 2rem;
    border-radius: 4px;
    transition: 0.3s ease;
}
.card-content {
    transition: 0.3s ease;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    cursor: pointer;
}
.card-content:hover {
    transform: scale(1.1);
}
.card-title {
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 2.6875rem;
    text-align: center;
    letter-spacing: 0.19em;
}
.portfolio-design {
    width: 15%;
    height: auto;
    transition: 1s linear;
    position: relative;
    z-index: -1;
    left: 80%;
    bottom: 5rem;
}
.contacts {
    background: black;
    padding-bottom: 7rem;
}
.contacts-title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.6875rem;
    letter-spacing: 0.19em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 7rem;
    margin-right: 3rem
}
.contacts-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 90px;
    flex-wrap: wrap;
}
.email {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.6875rem;
    letter-spacing: 0.19em;
}
.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.socials img {
    width: 3rem;
    height: auto;
    margin: 0 2rem;
    cursor: pointer;
    transition: 0.3s ease;
}
.socials img:hover {
    transform: scale(1.1);
}
.socials a {
    text-decoration: none;
}

.card-content > a > img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.mini {
    transition: 0.1s linear;
    width: 1rem;
    height: 1px;
    background: #800080;
    border: 3px solid #800080;
    margin-right: 1rem;
}
